body{
    padding: 0;
    margin: 0;
}

.container{
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content:center;
}

.gameTable{
    background-color: rgb(85, 137, 158);
    width: 560px;
    height: 550px;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 560px;
    height: 480px;
    align-items: center;
    justify-content: center;
}

.cell {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
}

.cell.empty {
    cursor: pointer;
}

.cell.red {
    background-color: #ff4136;
}

.cell.yellow {
    background-color: #ffd700;
}
